<article class="post-card">
    <header class="post-card__header">
        <div class="post-card__profile">
            <img class="post-card__author-image" src="{{author.profileImageUrl}}" alt="profile">
            <span class="post-card__username">{{author.username}}</span>
            <span class="post-card__time"> • {{createdAt}}</span>
        </div>
        <button><i class="bi bi-three-dots"></i></button>
    </header>
    
    <div class="post-card__media">
        <img src="{{mediaUrl}}" alt="post content">
    </div>
    
    <div class="post-card__icon-bar">
        <div class="icon-group">
            <button class="post-card__like-button"><i class="bi bi-heart"></i></button>
            <button><i class="bi bi-chat"></i></button>
            <button><i class="bi bi-send"></i></button>
        </div>
        <button class="post-card__save-button"><i class="bi bi-bookmark"></i></button>
        
    </div>
    
    <div class="post-card__details">
        <div class="post-card__likes">좋아요 {{likesCount}}개</div>
        <div class="post-card__caption-box">
            <span class="post-card__username">{{author.username}}</span>
            <span class="post-card__text">{{caption}}</span>
        </div>
        <div class="post-card__comment-input">
            <input type="text" placeholder="댓글 달기...">
            <button>&nbsp;게시</button>
        </div>
</button>
    </div>
</article>