<article class="post-card">
    <div class="post-card__header">
        <img class="post-card__profile-img" src="https://placehold.co/40x40/9CA3AF/FFFFFF?text=P"/>
        <p>user-name • <time>1h</time></p>
        <button class="post-card__option-btn">
            <i class="bi bi-three-dots"></i>
        </button>
    </div>
    <img class="post-card__img" src="https://placehold.co/600x400/374151/FFFFFF?text=Post+Image"/>
    <div class="post-card__description">
        <div class="post-card__action">
            <button class="post-card__action-button">
                <i class="bi bi-heart post-card-action-icon"></i>
                <p>46</p>
            </button>
            <button class="post-card__action-button">
                <i class="bi bi-chat post-card-action-icon"></i>
                <p>12</p>
            </button>
            <button class="post-card__action-button">
                <i class="bi bi-send post-card-action-icon"></i>
            </button>
            <button class="post-card__action-button">
                <i class="bi bi-bookmark post-card-action-icon"></i>
            </button>
        </div>
        <div class="post-card__info">
            <p>user-name</p>
            <p>info</p>
            <button class="post-card__info-more-btn">
                ... 더 보기
            </button>
        </div>
        <form class="post-card__comment-form">
            <input type="text" placeholder="댓글 달기..." class="post-card__comment-input">
        </form>
    </div>
</article>