<button class="post-modal__close-button"><i class="bi bi-x-lg"></i></button>
<div class="post-modal__inner">
    <div class="post-modal__media-area">
        <img src="{{mediaUrl}}" alt="modal content">
    </div>
    <div class="post-modal__sidebar">
        <header class="post-modal__header">
            <img src="{{author.profileImageUrl}}" alt="profile">
            <span class="post-modal__username">{{author.username}}</span>
        </header>
        <div class="post-modal__body">
            <div class="post-modal__caption-row">
                <img src="{{author.profileImageUrl}}" alt="profile" class="small-profile">
                <div>
                    <span class="post-modal__username">{{author.username}}</span>
                    <span>{{caption}}</span>
                </div>
            </div>
            <p style="color:gray; margin-top:20px; font-size:12px;">댓글 기능은 준비 중입니다...</p>
        </div>
    </div>
</div>