<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/components/post-modal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
</head>
<body>
    <div class="post-modal">
        <img src="https://placehold.co/300x400/374151/FFFFFF?text=Post+Image" class="post-modal__img"/>
        <div class="post-modal__comment">
            <div class="post-modal__uploader-area">
                <img src="/assets/profile.png" class="post-modal__-profile-img"/>
                <span class="post-modal__user-name">user-name •</span>
                <button class="post-modal__follow-btn">팔로우</button>
            </div>
            <ul>
                <li class="post-modal__comment-item">
                    <img src="/assets/profile.png" class="post-modal__profile-img"/>
                    <span class="post-modal__user-name">user-name</span> 
                    comments
                    </li>
                </li>
            </ul>
            <div class="post-modal__action">
                <i class="bi bi-heart"></i>
                <i class="bi bi-chat"></i>
                <i class="bi bi-send"></i>
                <i class="bi bi-bookmark"></i>
            </div>
            <form class="post-modal__comment-form">
                <input type="text" placeholder="댓글 달기..." class="post-modal__comment-input">
            </form>
        </div>
    </div>
</body>
</html>