<div class="recommended-users"> 
    <div class="recommended-users__my-profile">
        <img src="./assets/profile.png" alt="My Profile" class="recommended-item__profile-img">
        <div class="recommended-item__info">
            <span class="recommended-item__username">user-name</span>
            <span class="recommended-item__suggestion-text">name</span>
        </div>
        <button class="recommended-item__follow-btn">전환</button>
    </div>
    <h3 class="recommended-users__header">회원님을 위한 추천</h3>
        <ul class="recommended-users__list">
            <div id="recommended-users__item-container"></div>
        </ul>
</div>