<nav class="sidebar">
    <img class="sidebar__logo" id="sidebar-logo-btn" src="./assets/logo.png" alt="Instagram logo">
    <ul class="sidebar__menu">
        <li><a href="#"><i class="bi bi-house-door-fill"></i> <span>홈</span></a></li>
        <li><a href="#"><i class="bi bi-search"></i> <span>검색</span></a></li>
        <li><a href="#"><i class="bi bi-compass"></i> <span>탐색 탭</span></a></li>
        <li><a href="#"><i class="bi bi-film"></i> <span>릴스</span></a></li>
        <li><a href="#"><i class="bi bi-chat-dots"></i> <span>메시지</span></a></li>
        <li><a href="#"><i class="bi bi-heart"></i> <span>알림</span></a></li>
        <li><a href="#"><i class="bi bi-plus-square"></i> <span>만들기</span></a></li>

        <li class="sidebar-item" id="nav-profile-btn"> <a href="#" class="sidebar-link">
                <div class="sidebar-avatar">
                    <img src="../assets/rego.jpg" alt="profile" class="profile-pic-small"> 
                </div>
                <span>프로필</span>
            </a>
        </li>   
    </ul>
    <div class="sidebar__footer">
        <a href="#"><i class="bi bi-list"></i> <span>더 보기</span></a>
    </div>
</nav>