<aside class="sidebar">
    <img class="sidebar__logo" src="/assets/logo.png"/>
    <nav>
        <ul class="sidebar__list">
            <li class="sidebar__item">
                <i class="bi bi-house-door-fill"></i>
                <a href="#" class="sidebar__item-link">홈</a>
            </li>
            <li class="sidebar__item">
                <i class="bi bi-search"></i>
                <a href="#" class="sidebar__item-link">검색</a>
            </li>
            <li class="sidebar__item">
                <i class="bi bi-compass"></i>
                <a href="#" class="sidebar__item-link">탐색 탭</a>
            </li>
            <li class="sidebar__item">
                <i class="bi bi-play-btn"></i>
                <a href="#" class="sidebar__item-link">릴스</a>
            </li>
            <li class="sidebar__item">
                <i class="bi bi-send"></i>
                <a href="#" class="sidebar__item-link">메세지</a>
            </li>
            <li class="sidebar__item">
                <i class="bi bi-heart"></i>
                <a href="#" class="sidebar__item-link">알림</a>
            </li>
            <li class="sidebar__item">
                <i class="bi bi-plus-lg"></i>
                <a href="#" class="sidebar__item-link">만들기</a>
            </li>
            <li class="sidebar__item">
                <img class="sidebar__profile-img" src="./assets/profile.png">
                <a href="#" class="sidebar__item-link">프로필</a>
            </li>
        </ul>
    </nav>
</aside>