.post-item {
    aspect-ratio: 3 / 4;
    overflow: hidden;
    background-color: var(--color-bg-panel);
    border-radius: 0.25rem;
}

.post-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}