.recommended-users-container { 
    display: none; 
    width: 350px; 
    padding: 30px 20px 0 30px; 
}
@media (min-width: 1100px) { .recommended-users-container { display: block; } }

.recommended-block { font-size: 14px; }
.my-profile { display: flex; align-items: center; margin-bottom: 20px; }
.my-profile img { width: 56px; height: 56px; border-radius: 50%; margin-right: 15px; object-fit: cover; }
.my-profile .info { flex: 1; display: flex; flex-direction: column; }
.my-profile .id { font-weight: 600; }
.my-profile .name { color: var(--color-text-light); }
.my-profile button { color: var(--color-secondary); font-weight: 600; font-size: 12px; }
.header { display: flex; justify-content: space-between; margin-bottom: 15px; font-weight: 600; color: var(--color-text-light); font-size: 12px; }
.recommend-list li { display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px; }
.user-info { display: flex; align-items: center; }
.user-info img { width: 32px; height: 32px; border-radius: 50%; margin-right: 10px; object-fit: cover; }
.user-info div { display: flex; flex-direction: column; }
.user-info .id { font-weight: 600; font-size: 13px; }
.user-info .desc { font-size: 12px; color: var(--color-text-light); }
.recommend-list button { color: var(--color-secondary); font-weight: 600; font-size: 12px; }
footer { font-size: 11px; color: #c7c7c7; margin-top: 30px; line-height: 1.5; }