/* Sidebar  */

.sidebar {
  width: 15rem;                      
  border-right: 1px solid var(--color-border);
  padding: 1.25rem 0.75rem;          
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.sidebar__logo {
  width: 6.25rem;                    
  height: 1.875rem;                  
  margin: 1.875rem 0;                
}


.sidebar__list {
    flex-grow: 1;
}


.sidebar__item {
  display: flex;
  align-items: center;
  padding: 0.75rem;                   
  margin-bottom: 0.25rem;            
  border-radius: 0.5rem;              
  font-size: 1rem;
  font-weight: 600;
}

.sidebar__item:hover {
    background-color: var(--color-border-light);
}


.sidebar__item-link {
    margin-left: 1rem;    
}


.sidebar__profile-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
