@import "./reset.css";
@import "./theme.css";


body {
  font-family: var(--font-family-base);
  background: var(--color-bg);
  color: var(--color-text);
  display: flex;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.flex { display: flex; }
.flex-center { display: flex; align-items: center; justify-content: center; }
.flex-between { display: flex; justify-content: space-between; align-items: center;}

.btn {
  padding: var(--space-small) var(--space-medium);
  border: 0;
  border-radius: 5px;
  font-size: var(--font-size-md);
}

.card {
  background: var(--color-bg-panel);
  border: 1px solid var(--color-border);
  border-radius: 5px;
}
