/* home */
.main-content {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 3rem;

  position: relative;
}


.feed {
  flex-grow: 1;
  width: 39.375rem;          
  max-width: 39.375rem;
  padding: 2rem 1rem 0;      
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.story {
  width: 100%;
  max-width: 29.375rem;       
  margin-bottom: 1.25rem;     
  padding: 1rem 0;
  background-color: var(--color-bg-panel);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
}

.story__profile-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color-secondary);
  padding: 2px;
}
.post-card__list {
  width: 100%;
  max-width: 29.375rem;      
  display: flex;
  flex-direction: column;
  gap: 1.25rem;              
}
