/* home */
.main-content {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 3rem;
}


.feed {
  flex-grow: 1;
  width: 39.375rem;          
  max-width: 39.375rem;
  padding: 2rem 1rem 0;      
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}


